@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

body {
    background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-color: rgb(15, 32, 98);
    background-attachment: fixed;
}

/* headers */
h1,
h2,
button,
table,
aside p {
    font-family: 'rajdhani', sans-serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

#versions h1,
#skins h1,
#play h1,
#start h1,
#statistics h1,
#game-board h1,
h2 {
    color: white;
    text-align: center;
}


#versions h1,
#skins h1 {
    font-size: 8rem;
    -webkit-text-stroke: 3px #000000;
    margin-top: 4rem;
}

#play h1,
#start h1 {
    font-size: 4rem;
    margin: 2rem 0 0 0;
}

#rules h1 {
    font-size: 3rem;
    color: black;
    text-align: center;
    line-height: 100%;
    -webkit-text-stroke: initial;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
}

#statistics h1 {
    font-size: 3rem;
    line-height: 100%;
    margin-top: 25px;
    margin-bottom: 1rem;
    -webkit-text-stroke: initial;
}

#game-board h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 150%;
}

main {
    font-family: chango, sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

th {
    background: #ffffcc;
    font-weight: bold;
    font-size: 1.5rem;
}

tr td,
th td {
    background: #ffffcc;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 10% 1rem 1rem;
}

/* Prevent styling when clicking on texts or images */
p::selection,
p::-moz-selection,
img::selection,
img::-moz-selection {
    color: unset;
    background: none;
}

/* asides */
aside {
    width: 25%;
}

aside h2 {
    margin-top: 2rem;
}

aside p {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

aside ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

aside .piece {
    background-color: #f9d38f;
    border-radius: 5px;
    border: 2px solid #853605;
    margin: 5px 5px 0 0;
    padding: 5px 0 9px 0;
    text-align: center;
    position: relative;
    color: rgb(63, 15, 8);
}

aside .piece img {
    margin-top: 15px;
    height: 60px;
    max-width: 60px;
}

.selected {
    background-color: #fdf0c0 !important;
}

.moving {
    background-color: #f9d38f !important;
}

.used-count {
    position: absolute;
    top: 5px;
    left: 16px;
}

.piece .used {
    position: absolute;
    top: 5px;
    left: 5px;
}

.piece .count {
    position: absolute;
    top: 5px;
    left: 24px;
}

.power {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    color: white;
    -webkit-text-stroke: 1px #000000;
    font-size: 1.75rem;
    font-weight: bold;
}

.field .power {
    top: unset;
    bottom: 0;
    margin: 0;
}

.field.piece p.name,
.field.piece p.used,
.field.piece p.used-count,
.field.piece p.count {
    display: none;
}

.hidden {
    display: none;
}

.blue-button {
    background: steelblue;
    margin-top: 3%;
}

.capitalize::first-letter {
    text-transform: capitalize;
}

.border {
    border: 10px solid transparent;
    padding: 15px 30px 30px;
    border-radius: 10px;
    border-image: url("../media/border.png") 33% stretch;
    background-color: #ffffcc;
}

.header {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.yellow-background {
    color: #ffffcc;
}

.blue-background {
    color: rgba(21, 71, 148, 0.8)
}

/* Source: https://emilkowalski.github.io/css-effects-snippets/ */
.magnify {
    padding: 12px 24px;
    border-radius: 6px;
    transition: transform 250ms ease-in-out;
}

.magnify:hover {
    transform: scale(1.10);
}

.magnify:active {
    transform: scale(.9);
}

.text-transform {
    color: hsl(222, 25%, 14%);
    transition: transform 0.2s ease, color 0.2s ease;
}

.text-transform:hover {
    transform: translateX(4px);
    color: hsl(243, 80%, 62%);
}

/* Message field */
/* Warnings here are false positives: remove any one of them and the image gets messed up */
.scroll {
    border-image: url('../media/scroll.png') 24 fill stretch;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
    border-image-width: 24px;
    border-image-outset: 6px;
    height: 2rem;
    box-shadow: 0 10px 5px #1a366d;
    font-size: 1.4rem;
    min-height: 1.4rem;
    margin: 20px auto 16px;
    color: rgb(63, 15, 8);
    font-family: "rajdhani", sans-serif;
    padding: 0 18px 0;
}

/* Choose version and team */
#versions h2,
#skins h2 {
    width: 50%;
    margin-bottom: 3rem !important;
}

/* button */
button {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: block;
    width: 50%;
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgb(22, 9, 246);
    background: linear-gradient(to bottom right, rgba(22, 9, 246, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

#versions button,
#skins button {
    width: 20%;
    margin: 0 auto 15px auto;
}

#statistics button, #rules button {
    width: 20%;
    margin: auto;
}

#statistics .scroll {
    padding: 1% 18px 0;
}

/* Team stats container */
#team-stats-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#team-stats-container p {
    width: 85%;
    text-align: center;
}

#team-stats-container table {
    width: 100%;
}

/* General stats */
#general-stats {
    width: 56%;
    margin: auto auto 1%;
    text-align: center;
}

#general-stats table {
    width: 100%;
}

/* Mario stats */
#mario-stats {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

/* Playing field in the preset screen */
section#playing-field {
    font-size: 1rem;
    margin-left: 20px;
    font-family: chango, sans-serif;
}

#playing-field footer {
    justify-content: center;
}

/* board (See JS)*/
#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 510px;
    height: 510px;
    color: #252525;
}

/* Game board fields (See JS) */
.field {
    border-top: 1px solid #e4ae6d;
    border-right: 1px solid #e4ae6d;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.field.blocked {
    background-image: url("../media/blocked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Game board fields border */
.field:nth-of-type(1),
.field:nth-of-type(11),
.field:nth-of-type(21),
.field:nth-of-type(31),
.field:nth-of-type(41),
.field:nth-of-type(51),
.field:nth-of-type(61),
.field:nth-of-type(71),
.field:nth-of-type(81),
.field:nth-of-type(91) {
    border-left: 1px solid #e4ae6d;
}

.field:nth-of-type(91),
.field:nth-of-type(92),
.field:nth-of-type(93),
.field:nth-of-type(94),
.field:nth-of-type(95),
.field:nth-of-type(96),
.field:nth-of-type(97),
.field:nth-of-type(98),
.field:nth-of-type(99),
.field:nth-of-type(100) {
    border-bottom: 1px solid #e4ae6d;
}

/* Game board blocked water fields */
.field:nth-of-type(43),
.field:nth-of-type(44),
.field:nth-of-type(53),
.field:nth-of-type(54),
.field:nth-of-type(47),
.field:nth-of-type(48),
.field:nth-of-type(57),
.field:nth-of-type(58) {
    background-color: #008bff;
    background-size: 100%;
}

.field:nth-of-type(43),
.field:nth-of-type(47),
.field:nth-of-type(53),
.field:nth-of-type(57) {
    border-right: 1px solid #008bff;
}

.field:nth-of-type(53),
.field:nth-of-type(54),
.field:nth-of-type(57),
.field:nth-of-type(58) {
    border-top: 1px solid #008bff;
}

/* Create or join game and waitingSeconds for player screen */
#play input {
    display: block;
    margin: 0 auto;
    width: 350px;
    line-height: 3rem;
    border-radius: 5px;
}

#play img,
#start img {
    display: block;
    width: 30%;
    margin: 3rem auto;
    border: 3rem black;
    border-radius: 1rem;
}

#play button,
#start button {
    margin: 1rem auto;
    width: 20%;
}

::selection {
    color: unset;
    background: none;
}

#infiltrate {
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(63, 15, 8);
}

#infiltrate img {
    height: 64px;
    max-width: 64px;
    padding: 0.5rem;
}

#infiltrate div {
    margin: 0 auto;
    width: 50%;
}

#infiltrate ul {
    padding: 10px;
}

#infiltrate ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    min-width: 75px;
}

#infiltrate ul li.infiltrate {
    background: #f9d38f;
    border-radius: 5px;
    border: 2px solid #853605;
    padding: 0;
}

#infiltrate button {
    display: initial;
    background: lightgrey;
    font-weight: normal;
    color: black;
    padding: 0.5rem;
    margin-top: 1rem;
}

#popup {
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#popup img {
    width: 350px;
}

.on-top {
    z-index: 2;
}

#play input::selection {
    color: white;
    background: #56d0ee;
}

/* Rules */
#rules {
    width: 70%;
    margin: 1.3rem auto;
}

#wrapper-rules {
    width: 75%;
    margin: 0 auto 0 auto;
}

#rules #wrapper-rules  h2,  #rules #wrapper-rules h3 {
    margin: 2rem auto;
    width: 95%;
    text-align: center;
}

#wrapper-rules p {
    background: #ffffcc;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    padding: 0.5rem 1rem 1rem 1rem;
}

#wrapper-rules p::selection {
    background: steelblue;
    color: white;
}

#rules aside ul li:not(:last-of-type) {
    margin-bottom: 0.8rem;
}

#rules button {
    top: 420px;
    right: 60px;
    width: 25%;
    margin: 25px auto 0 auto;
}

#rules aside {
    top: 1.3rem;
    right: 20px;
}

#rules aside, #rules button {
    position: fixed;
    width: 15%;
}

#rules aside ul {
    display: flex;
    flex-direction: column;
}

#rules aside ul li a {
    color: black;
    font-family: 'Nunito UI', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

#rules aside ul li p {
    font-family: "Rajdhani Bold", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 1rem;
}

/*--------------------------------------Multiple selectors without classes and id's-----------------------------------*/
#game-board-content {
    display: flex;
    justify-content: space-evenly;
}

#game-board #options button {
    display: block;
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 1rem;
    width: 250px;
}

#options img {
    max-width: 150px;
    max-height: 200px;
    display: block;
    margin: 0 auto 25px auto;
}

#playing-field .field img {
    height: 48px;
    max-width: 48px;
}

@media (max-width: 1200px) {
    aside {
        width: auto;
    }

    aside h2 {
        color: rgb(63, 15, 8);
        font-size: 1.2rem !important;
        padding-top: 0.6rem;
    }

    aside h2,
    aside p {
        font-size: 1rem;
        margin: 0;
    }

    aside .piece {
        padding: 0;
        margin: 0;
    }

    aside .piece img {
        height: 32px;
    }

    aside ul {
        grid-template-columns: repeat(13, 1fr);
    }

    footer {
        margin: 0.5rem auto;
    }

    #enemy-team {
        order: 3;
    }

    #game-board {
        margin-bottom: 1rem;
    }

    #infiltrate div {
        margin: 10% auto;
        width: 75%;
    }

    #game-board-content {
        flex-direction: column;
    }

    #options {
        width: auto;
    }

    #game-board button,
    #options button {
        display: inline-block !important;
        padding: 0.5rem !important;
        width: 200px !important;
        margin: 0 auto !important;
    }

    #options img,
    #options h2 {
        display: none;
    }

    #options div {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }

    #playing-field {
        order: 1;
        margin: 0 auto;
    }

    #playing-field #messages {
        margin: 1rem auto;
    }

    #your-team {
        order: 2;
    }

    #your-team h2 {
        display: none;
    }

    .border {
        padding: 10px;
    }
}